<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/category.css">
</head>
<body>
  <nav>
    <div class="nav-space">
      
    </div>
  </nav> 
  <div class="slideshow-container">

    <div class="mySlides fade">
      <img src="../res/images/slideshow/slideshow-1.jpg">
    </div>
      
    <div class="mySlides fade">
      <img src="../res/images/slideshow/slideshow-2.jpg">
    </div>
      
    <div class="mySlides fade">
      <img src="../res/images/slideshow/slideshow-3.jpg">
    </div>
      
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
  </div>
  <br>
      
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div>
  <main>
    <div class="product">
      <div class="image">
        <img
          src="../res/images/coffee-bean/coffee-bean.jpg">
      </div>
      <div class="info">
        <h1>Coffee Beans</h1>
        <br>
        <p>
          Coffee beans are a rich source of biologically active compounds such as caffeine, chlorogenic acids, nicotinic acid, trigonelline, cafestol, and kahweol, which have significant potential as antioxidants.
        </p>
        <span>
          <a href="#">Click here to view all</a>
        </span>
      </div>
    </div>
    <br>
    <div class="product">
      <div class="image">
        <img src="../res/images/coffee-grinder/coffee-grinder.jpg">
      </div>
      <div class="info">
        <h1>Coffee Grinder</h1>
        <br>
        <p>
          Grind your coffee to the smooth, for the flavor and aroma of the resulting coffee drinks are absolutely delicious and very different from regular coffee drinks.
        </p>
        <span>
          <a href="#">Click here to view all</a>
        </span>
      </div>
    </div>
    <br>
    <div class="product">
      <div class="image">
        <img src="../res/images/coffee-maker/coffee-maker-front.jpg">
      </div>
      <div class="info">
        <h1>Coffee Maker</h1>
        <br>
        <p>
          Coffee makers are cooking appliances used to brew coffee, coffee grounds are placed in a metal filter inside a funnel, which is set over a glass pot.
        </p>
        <span>
          <a href="#">Click here to view all</a>
        </span>
      </div>
    </div>
    <br>
    <div class="product">
      <div class="image">
        <img src="../res/images/coffee-tumbler/coffee-tumbler-front.jpg">
      </div>
      <div class="info">
        <h1>Coffee Tumblers</h1>
        <br>
        <p>
          Thumbler is a special container for coffee used for traveling or traveling later increasingly in demand by coffee enthusiasts. Suitable to help you bring hot coffee on the go.
        </p>
        <span>
          <a href="#">Click here to view all</a>
        </span>
      </div>
    </div>
  </main>

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);
      
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
      
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
      
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
  </script>
</body>
</html>