<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Chela+One|Raleway:400,400i,800,900" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/bootsandcats.css">
  <link rel="stylesheet" href="../stylesheets/nav.css">
  <link rel="stylesheet" href="../stylesheets/form.css">
  <link rel="stylesheet" href="../stylesheets/my-cart.css ">
</head>

<body>
  <section id="checkout_wrapper" style="display:none;">
    <div id="checkout_dialog">
      <div id="div_dialog_closer">
        <img id="dialog_closer" src="../res/images/icons/close-slim-gray.png">
      </div>
      <h1>Order Summary</h1>
      <div>
        <span>Order Subtotal</span>
        <span id="order_subtotal">10,000</span>
      </div>
      <div>
        <span>Shipping</span>
        <span>FREE</span>
      </div>
      <div>
        <span>Estimated Tax</span>
        <span id="order_estimated_tax">1,234</span>
      </div>
      <div>
        <span><strong>Order Total</strong></span>
        <span><strong id="order_total">123123</strong></span>
      </div>
      <button id="btn_complete_checkout" type="button" class="btn btn-large btn-crimson">COMPLETE CHECKOUT</button>
    </div>
  </section>

  <nav id="nav" class="first-nav">
    <div class="nav-container">
      <div class="nav-left">
        <a href="index.html"><img src="../res/images/icons/another-coffee.png" alt=""> Kuffee</a>
      </div>
      <div class="nav-right">
        <a href="./category.html"><img src="../res/images/icons/inbox-white.png" alt=""> Category</a>
        <a id="link_wishlist" href="./wishlist.html"><img src="../res/images/icons/heart-white.png" alt=""> Wishlist</a>
        <a id="link_mycart" href="./my-cart.html"><img src="../res/images/icons/cart-white.png" alt=""> My Cart</a>
        <button id="btn_login" class="btn btn-medium btn-blue" type="button" style="display:none">Login</button>
        <button id="btn_signup" class="btn btn-medium btn-blue-hollow" type="button" style="display:none">Sign Up</button>
        <span id="span_user" class="btn btn-medium span-profile" type="button" style="display:none">Irvin Delano</span>
        <button id="btn_logout" class="btn btn-medium btn-crimson-hollow" type="button" style="display:none">Logout</button>
      </div>
    </div>
  </nav>
  <div id="form_platform" style="display:none;">
    <div id="div_login_form" style="display:none;">
      <header>
        <div class="div-closer">
          <img class="closer" src="../res/images/icons/close-slim.png">
        </div>
        <h1><img src="../res/images/icons/another-coffee.png"> Kuffee</h1>
      </header>
      <form action="">
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button type="submit" class="btn btn-blue btn-medium">LOGIN</button>
        <p>Don't have an account? <span id="btn_signup_first">Sign Up!</span></p>
      </form>
    </div>
    <div id="div_signup_form" style="display:none;">
      <header>
        <div class="div-closer">
          <img class="closer" src="../res/images/icons/close-slim.png">
        </div>
        <h1><img src="../res/images/icons/another-coffee.png"> Kuffee</h1>
      </header>
      <form action="">
        <input type="text" placeholder="Username" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button type="submit" class="btn btn-orange btn-medium">SIGN UP</button>
        <p>Already have an account? <span id="btn_login_first">Login!</span></p>
      </form>
    </div>
  </div>
    
  <header>
    <section>
      <h1>
        <img src="../res/images/icons/cart-white.png"> My Cart</h1>
      <p>All the Kuffees you want to purchase.</p>
    </section>
  </header>

  <section class="s1">
    <table id="table_cart">
      <thead>
        <tr>
          <th colspan="2">Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr><td class="td-noitem" colspan="6">No item in Cart yet.</td></tr>
        <!-- <tr>
          <td class="td-img">
            <div class="div-img" style="background-image:url(../res/images/coffee-bean/coffee-bean-2.jpg)"></div>
          </td>
          <td class="td-desc">
            <h1>Kopi Bean</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sunt laboriosam molestiae vero vel</p>
          </td>
          <td class="td-qty">
            <button type="button" class="btn-less">-</button>
            <input type="text" class="text" value="0">
            <button type="button" class="btn-more">+</button>
          </td>
          <td class="td-price">
            x RP. 90,000
          </td>
          <td class="td-multiplied">
            RP. 180,000
          </td>
          <td class="td-closer">
            <img class="closer" src="../res/images/icons/close.png">
          </td>
        </tr> -->
      </tbody>
    </table>

    <button id="btn_checkout" type="button" class="btn btn-crimson">CONTINUE TO CHECKOUT &nbsp;&nbsp;<span class="right-arrow">&rarr;</span></button>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="../scripts/ejs.min.js"></script>
  <script src="../scripts/coffee-product-db.js"></script>
  <script src="../scripts/db-reader.js"></script>
  <script src="../scripts/nav.js"></script>
  <script src="../scripts/form.js"></script>
  <script>
    nav.setLogoutToHome(true);
    let user = Cookies.getJSON('user');
    let db = new DBReader(CoffeeProductDB);
    let documents = [];
    for (let cartID in user.cartMap) {
      if (user.cartMap[cartID] > 0) {
          let doc = db.getById(cartID);
          doc.qty = user.cartMap[cartID];
          documents.push(doc);
        }
    }

    (function renderProductContainer(documents) {
      if (!documents.length) return;
      let $tableCart = $('#table_cart');
      $tableCart.find('tbody').empty();
      let renderRow = ejs.compile(
        `
          <tr>
            <td class="td-img">
              <div class="div-img" style="background-image:url(../res/images/<%= doc.imageUrl %>)"></div>
            </td>
            <td class="td-desc">
              <h1><%= doc.name %></h1>
              <p><%= doc.longDesc %></p>
            </td>
            <td class="td-qty">
              <span class="product-id" data-value="<%= doc.id %>" style=""></span>
              <button type="button" class="btn-less">-</button>
              <input type="text" class="text" value="<%= doc.qty %>">
              <button type="button" class="btn-more">+</button>
            </td>
            <td class="td-price">
              x RP. <%= doc.price %>
            </td>
            <td class="td-multiplied">
              RP. <%= doc.price * doc.qty %>
            </td>
            <td class="td-closer">
              <span class="product-id" data-value="<%= doc.id %>" style=""></span>
              <img class="closer" src="../res/images/icons/close.png">
            </td>
          </tr>
        `
      );
      for (let doc of documents) {
        let $newRow = $(renderRow({doc: doc}));
        $tableCart.append($newRow);
      }
    })(documents);

    (function buttonEventHandler() {
      $('.closer').click(function() {
        let $parentBox = $(this).closest('tr');
        let user = Cookies.getJSON('user');
        let productID = parseInt($(this).siblings('span').attr('data-value'));
        delete user.cartMap[productID];
        Cookies.set('user', user, {expires: 30});
        $parentBox.fadeOut('normal');
      });
      $('.btn-less').click(function() {
        let productID = parseInt($(this).siblings('span').attr('data-value'));
        let user = Cookies.getJSON('user');
        user.cartMap[productID] = Math.max(0, user.cartMap[productID]-1);
        Cookies.set('user', user, {expires: 30});
        let $txtQty = $(this).siblings('input[type="text"]');
        $txtQty.val(user.cartMap[productID]);
        let $tdMultiplied = $(this).parent().parent().find('.td-multiplied');
        $tdMultiplied.text('Rp. '+(user.cartMap[productID]*db.getById(productID).price));
      });
      $('.btn-more').click(function() {
        let productID = parseInt($(this).siblings('span').attr('data-value'));
        let user = Cookies.getJSON('user');
        user.cartMap[productID] += 1;
        Cookies.set('user', user, {expires: 30});
        let $txtQty = $(this).siblings('input[type="text"]');
        $txtQty.val(user.cartMap[productID]);
        let $tdMultiplied = $(this).parent().parent().find('.td-multiplied');
        $tdMultiplied.text('Rp. '+(user.cartMap[productID]*db.getById(productID).price));
      });

      $('#btn_checkout').click(function() {
        let subtotal = 0;
        $('.td-multiplied').each( function(index, element) {
          let cleaned = parseInt($(element).text().trim().replace(/[^0-9]/g, ''));
          subtotal += cleaned;
        });
        $('#order_subtotal').text('Rp. '+subtotal);
        $('#order_estimated_tax').text('Rp. '+parseInt(subtotal*0.1));
        $('#order_total').text('Rp. '+(subtotal+parseInt(subtotal*0.1)));
        $('#checkout_wrapper').fadeIn('normal');
      });
      $('#dialog_closer').click(function() {
        $('#checkout_wrapper').fadeOut('normal');
      });
      $('#btn_complete_checkout').click(function() {
        $('#table_cart tbody').html('<tr><td class="td-noitem" colspan="6">No item in Cart yet.</td></tr>')
        let user = Cookies.getJSON('user');
        user.cartMap = {};
        Cookies.set('user', user, {expires: 30});
        $('#checkout_wrapper').fadeOut('normal');
      });
    })();
  </script>
</body>

</html>
