<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Chela+One|Raleway:400,400i,800,900" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/bootsandcats.css">
  <link rel="stylesheet" href="../stylesheets/nav.css">
  <link rel="stylesheet" href="../stylesheets/my-cart.css ">
</head>

<body>
  <nav id="nav" class="first-nav">
    <div class="nav-container">
      <div class="nav-left">
        <a href="#">
          <img src="../res/images/icons/another-coffee.png" alt=""> Kuffee</a>
      </div>
      <div class="nav-right">
        <a href="views/category.html">
          <img src="../res/images/icons/inbox-white.png" alt=""> Category</a>
        <a href="#">
          <img src="../res/images/icons/heart-white.png" alt=""> Wishlist</a>
        <a href="#">
          <img src="../res/images/icons/cart-white.png" alt=""> My Cart</a>
        <button id="btn_login" class="btn btn-medium btn-white" type="button">Login</button>
        <button id="btn_signup" class="btn btn-medium btn-white-hollow" type="button">Sign Up</button>
      </div>
    </div>
  </nav>

  <header>
    <section>
      <h1>
        <img src="../res/images/icons/cart-white.png"> My Cart</h1>
      <p>All the Kuffees you want to purchase.</p>
    </section>
  </header>

  <section class="s1">
    <table>
      <thead>
        <tr>
          <th colspan="2">Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-img">
            <div class="div-img" style="background-image:url(../res/images/coffee-bean/coffee-bean-2.jpg)"></div>
          </td>
          <td class="td-desc">
            <h1>Kopi Bean</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sunt laboriosam molestiae vero vel</p>
          </td>
          <td class="td-qty">
            <button type="button" class="btn-less">-</button>
            <input type="text" class="text" value="0">
            <button type="button" class="btn-more">+</button>
          </td>
          <td class="td-price">
            x RP. 90,000
          </td>
          <td class="td-multiplied">
            RP. 180,000
          </td>
          <td class="td-closer">
            <img class="closer" src="../res/images/icons/close.png">
          </td>
        </tr>
        <tr>
          <td class="td-img">
            <div class="div-img" style="background-image:url(../res/images/coffee-bean/coffee-bean-2.jpg)"></div>
          </td>
          <td class="td-desc">
            <h1>Kopi Bean</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sunt laboriosam molestiae vero vel</p>
          </td>
          <td class="td-qty">
            <button type="button" class="btn-less">-</button>
            <input type="text" class="text" value="0">
            <button type="button" class="btn-more">+</button>
          </td>
          <td class="td-price">
            x RP. 90,000
          </td>
          <td class="td-multiplied">
            RP. 180,000
          </td>
          <td class="td-closer">
            <img class="closer" src="../res/images/icons/close.png">
          </td>
        </tr>
        <tr>
          <td class="td-img">
            <div class="div-img" style="background-image:url(../res/images/coffee-bean/coffee-bean-2.jpg)"></div>
          </td>
          <td class="td-desc">
            <h1>Kopi Bean</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sunt laboriosam molestiae vero vel</p>
          </td>
          <td class="td-qty">
            <button type="button" class="btn-less">-</button>
            <input type="text" class="text" value="0">
            <button type="button" class="btn-more">+</button>
          </td>
          <td class="td-price">
            x RP. 90,000
          </td>
          <td class="td-multiplied">
            RP. 180,000
          </td>
          <td class="td-closer">
            <img class="closer" src="../res/images/icons/close.png">
          </td>
        </tr>
      </tbody>
    </table>

    <button id="btn_checkout" type="button" class="btn btn-crimson">CONTINUE TO CHECKOUT &nbsp;&nbsp;<span class="right-arrow">&rarr;</span></button>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="../scripts/nav-white.js"></script>
  <script>
  </script>
</body>

</html>