<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Chela+One|Raleway:400,400i,800,900" rel="stylesheet"> 
  <link rel="stylesheet" href="../stylesheets/bootsandcats.css">
  <link rel="stylesheet" href="../stylesheets/nav.css">
  <link rel="stylesheet" href="../stylesheets/product-detail.css ">
</head>
<body>
  <nav id="nav" class="second-nav">
    <div class="nav-container">
      <div class="nav-left">
        <a href="#"><img src="../res/images/icons/another-coffee.png" alt=""> Kuffee</a>
      </div>
      <div class="nav-right">
        <a href="views/category.html"><img src="../res/images/icons/inbox-white.png" alt=""> Category</a>
        <a href="#"><img src="../res/images/icons/heart-white.png" alt=""> Wishlist</a>
        <a href="#"><img src="../res/images/icons/cart-white.png" alt=""> My Cart</a>
        <button id="btn_login" class="btn btn-medium btn-white" type="button">Login</button>
        <button id="btn_signup" class="btn btn-medium btn-white-hollow" type="button">Sign Up</button>
      </div>
    </div>
  </nav>

  <section class="detail-wrapper">
    <div class="detail-box">
      <div class="div-img" style="background-image:url(../res/images/coffee-bean/coffee-bean-2.jpg)"></div>
      <div class="div-right">
        <div class="div-desc">
          <h1 class="desc-title">Kopi Bean</h1>
          <p class="desc-category">Coffee Beans</p>
          <p class="desc-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima obcaecati, nesciunt itaque quo nostrum libero sed odit cum a. Ducimus saepe nulla ipsam corporis ipsum nesciunt autem neque temporibus fugit.</p>
          <p class="desc-price">
            Rp. 90,000
          </p>
        </div>
        <div class="div-action">
          <a href="http://" class="btn btn-crimson">Add to Cart</a>
          <a href="http://" class="btn btn-crimson-hollow">+ Wishlist</a>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script>

  </script>
</body>
</html>