<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Chela+One|Raleway:400,400i,800,900" rel="stylesheet"> 
  <link rel="stylesheet" href="../stylesheets/bootsandcats.css">
  <link rel="stylesheet" href="../stylesheets/nav.css">
  <link rel="stylesheet" href="../stylesheets/product-catalog.css ">
</head>
<body>
  <nav id="nav" class="second-nav">
    <div class="nav-container">
      <div class="nav-left">
        <a href="#"><img src="../res/images/icons/another-coffee.png" alt=""> Kuffee</a>
      </div>
      <div class="nav-right">
        <a href="views/category.html"><img src="../res/images/icons/inbox-white.png" alt=""> Category</a>
        <a href="#"><img src="../res/images/icons/heart-white.png" alt=""> Wishlist</a>
        <a href="#"><img src="../res/images/icons/cart-white.png" alt=""> My Cart</a>
        <button id="btn_login" class="btn btn-medium btn-white" type="button">Login</button>
        <button id="btn_signup" class="btn btn-medium btn-white-hollow" type="button">Sign Up</button>
      </div>
    </div>
  </nav>

  <header>
    <section>
      <h1>Self-Harvested Coffee Beans</h1>
      <p>We plant and take care each of our coffee beans as they were our children.</p>
    </section>
  </header>

  <h1>Coffee Beans</h1>

  <section class="s1">
    <div class="product-row">
      <div class="product-card">
        <div class="img-card">
          <img src="../res/images/coffee-bean/coffee-bean-2.jpg" alt="">
        </div>
        <p>Kopi Bean</p>
        <p>Fine selected bean by kuffee</p>
        <p>Rp. 90,000</p>
        <div class="product-btn-container">
          <a href="http://" class="btn btn-crimson ">View details</a>
          <a href="http://" class="btn btn-crimson-hollow ">Add to Cart</a>
        </div>
      </div>

      <div class="product-card">
        <div class="img-card">
          <img src="../res/images/coffee-bean/coffee-bean-2.jpg" alt="">
        </div>
        <p>Kopi Bean</p>
        <p>Fine selected bean by kuffee</p>
        <p>Rp. 90,000</p>
        <div class="product-btn-container">
          <a href="http://" class="btn btn-crimson ">View details</a>
          <a href="http://" class="btn btn-crimson-hollow ">Add to Cart</a>
        </div>
      </div>

      <div class="product-card">
        <div class="img-card">
          <img src="../res/images/coffee-bean/coffee-bean-2.jpg" alt="">
        </div>
        <p>Kopi Bean</p>
        <p>Fine selected bean by kuffee</p>
        <p>Rp. 90,000</p>
        <div class="product-btn-container">
          <a href="http://" class="btn btn-crimson ">View details</a>
          <a href="http://" class="btn btn-crimson-hollow ">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="product-row">
      <div class="product-card">
        <div class="img-card">
          <img src="../res/images/coffee-bean/coffee-bean-2.jpg" alt="">
        </div>
        <p>Kopi Bean</p>
        <p>Fine selected bean by kuffee</p>
        <p>Rp. 90,000</p>
        <div class="product-btn-container">
          <a href="http://" class="btn btn-crimson ">View details</a>
          <a href="http://" class="btn btn-crimson-hollow ">Add to Cart</a>
        </div>
      </div>

      <div class="product-card">
        <div class="img-card">
          <img src="../res/images/coffee-bean/coffee-bean-2.jpg" alt="">
        </div>
        <p>Kopi Bean</p>
        <p>Fine selected bean by kuffee</p>
        <p>Rp. 90,000</p>
        <div class="product-btn-container">
          <a href="http://" class="btn btn-crimson ">View details</a>
          <a href="http://" class="btn btn-crimson-hollow ">Add to Cart</a>
        </div>
      </div>

      <div class="product-card">
        <div class="img-card">
          <img src="../res/images/coffee-bean/coffee-bean-2.jpg" alt="">
        </div>
        <p>Kopi Bean</p>
        <p>Fine selected bean by kuffee</p>
        <p>Rp. 90,000</p>
        <div class="product-btn-container">
          <a href="http://" class="btn btn-crimson ">View details</a>
          <a href="http://" class="btn btn-crimson-hollow ">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="product-row">
      <div class="product-card">
        <div class="img-card">
          <img src="../res/images/coffee-bean/coffee-bean-2.jpg" alt="">
        </div>
        <p>Kopi Bean</p>
        <p>Fine selected bean by kuffee</p>
        <p>Rp. 90,000</p>
        <div class="product-btn-container">
          <a href="http://" class="btn btn-crimson ">View details</a>
          <a href="http://" class="btn btn-crimson-hollow ">Add to Cart</a>
        </div>
      </div>

      <div class="product-card">
        <div class="img-card">
          <img src="../res/images/coffee-bean/coffee-bean-2.jpg" alt="">
        </div>
        <p>Kopi Bean</p>
        <p>Fine selected bean by kuffee</p>
        <p>Rp. 90,000</p>
        <div class="product-btn-container">
          <a href="http://" class="btn btn-crimson ">View details</a>
          <a href="http://" class="btn btn-crimson-hollow ">Add to Cart</a>
        </div>
      </div>
    </div>
  </section>

</body>
</html>