<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Chela+One|Raleway:400,400i,800,900" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/bootsandcats.css">
  <link rel="stylesheet" href="../stylesheets/nav.css">
  <link rel="stylesheet" href="../stylesheets/wishlist.css ">
</head>

<body>
  <nav id="nav" class="first-nav">
    <div class="nav-container">
      <div class="nav-left">
        <a href="#"><img src="../res/images/icons/another-coffee.png" alt=""> Kuffee</a>
      </div>
      <div class="nav-right">
        <a href="views/category.html"><img src="../res/images/icons/inbox-white.png"> Category</a>
        <a href="#"><img src="../res/images/icons/heart-white.png"> Wishlist</a>
        <a href="#"><img src="../res/images/icons/cart-white.png"> My Cart</a>
        <button id="btn_login" class="btn btn-medium btn-white" type="button">Login</button>
        <button id="btn_signup" class="btn btn-medium btn-white-hollow" type="button">Sign Up</button>
      </div>
    </div>
  </nav>

  <header>
    <section>
      <h1><img src="../res/images/icons/heart-white.png"> Wishlist</h1>
      <p>All the Kuffees you have ever wished.</p>
    </section>
  </header>

  <section class="s1">
    <div class="wish-box">
      <a class="link-img" href="#" style="background-image:url(../res/images/coffee-bean/coffee-bean-1.jpg)"></a>
      <div class="div-middle">
        <h1 class="wish-title">Kopi Bean</h1>
        <p class="wish-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea rerum neque, reprehenderit natus rem consequatur laboriosam saepe. Vitae veritatis </p>
      </div>
      <div class="div-right">
        <div class="div-closer">
          <img class="closer" src="../res/images/icons/close.png">
        </div>
        <p class="wish-price">Rp. 90,000</p>
        <button type="button" class="wish-add-cart btn btn-blue btn-round btn-medium">Add to Cart</button>
      </div>
    </div>
    <div class="wish-box">
      <a class="link-img" href="#" style="background-image:url(../res/images/coffee-bean/coffee-bean-1.jpg)"></a>
      <div class="div-middle">
        <h1 class="wish-title">Kopi Bean</h1>
        <p class="wish-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea rerum neque, reprehenderit natus rem consequatur laboriosam saepe. Vitae veritatis </p>
      </div>
      <div class="div-right">
        <div class="div-closer">
          <img class="closer" src="../res/images/icons/close.png">
        </div>
        <p class="wish-price">Rp. 90,000</p>
        <button type="button" class="wish-add-cart btn btn-blue btn-round btn-medium">Add to Cart</button>
      </div>
    </div>
    <div class="wish-box">
      <a class="link-img" href="#" style="background-image:url(../res/images/coffee-bean/coffee-bean-1.jpg)"></a>
      <div class="div-middle">
        <h1 class="wish-title">Kopi Bean</h1>
        <p class="wish-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea rerum neque, reprehenderit natus rem consequatur laboriosam saepe. Vitae veritatis </p>
      </div>
      <div class="div-right">
        <div class="div-closer">
          <img class="closer" src="../res/images/icons/close.png">
        </div>
        <p class="wish-price">Rp. 90,000</p>
        <button type="button" class="wish-add-cart btn btn-blue btn-round btn-medium">Add to Cart</button>
      </div>
    </div>
    <div class="wish-box">
      <a class="link-img" href="#" style="background-image:url(../res/images/coffee-bean/coffee-bean-1.jpg)"></a>
      <div class="div-middle">
        <h1 class="wish-title">Kopi Bean</h1>
        <p class="wish-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea rerum neque, reprehenderit natus rem consequatur laboriosam saepe. Vitae veritatis </p>
      </div>
      <div class="div-right">
        <div class="div-closer">
          <img class="closer" src="../res/images/icons/close.png">
        </div>
        <p class="wish-price">Rp. 90,000</p>
        <button type="button" class="wish-add-cart btn btn-blue btn-round btn-medium">Add to Cart</button>
      </div>
    </div>

  </section>

  <section class="s1">
    
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="../scripts/nav-white.js"></script>
  <script>
  </script>
</body>

</html>