<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kuffee</title>
  <link href="https://fonts.googleapis.com/css?family=Chela+One|Raleway:400,400i,800,900" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/bootsandcats.css">
  <link rel="stylesheet" href="../stylesheets/nav.css">
  <link rel="stylesheet" href="../stylesheets/form.css">
  <link rel="stylesheet" href="../stylesheets/toaster.css">
  <link rel="stylesheet" href="../stylesheets/wishlist.css ">
</head>

<body>
    <section id="section_toaster"></section>

    <nav id="nav" class="first-nav">
      <div class="nav-container">
        <div class="nav-left">
          <a href="../index.html"><img src="../res/images/icons/another-coffee.png" alt=""> Kuffee</a>
        </div>
        <div class="nav-right">
          <a href="./category.html"><img src="../res/images/icons/inbox-white.png" alt=""> Category</a>
          <a id="link_wishlist" href="./wishlist.html"><img src="../res/images/icons/heart-white.png" alt=""> Wishlist</a>
          <a id="link_mycart" href="./my-cart.html"><img src="../res/images/icons/cart-white.png" alt=""> My Cart</a>
          <button id="btn_login" class="btn btn-medium btn-blue" type="button" style="display:none">Login</button>
          <button id="btn_signup" class="btn btn-medium btn-blue-hollow" type="button" style="display:none">Sign Up</button>
          <span id="span_user" class="btn btn-medium span-profile" type="button" style="display:none">Irvin Delano</span>
          <button id="btn_logout" class="btn btn-medium btn-orange-hollow" type="button" style="display:none">Logout</button>
        </div>
      </div>
    </nav>
    <div id="form_platform" style="display:none;">
      <div id="div_login_form" style="display:none;">
        <header>
          <div class="div-closer">
            <img class="closer" src="../res/images/icons/close-slim.png">
          </div>
          <h1><img src="../res/images/icons/another-coffee.png"> Kuffee</h1>
        </header>
        <form action="">
          <input type="email" placeholder="Email" required>
          <input type="password" placeholder="Password" required>
          <button type="submit" class="btn btn-blue btn-medium">LOGIN</button>
          <p>Don't have an account? <span id="btn_signup_first">Sign Up!</span></p>
        </form>
      </div>
      <div id="div_signup_form" style="display:none;">
        <header>
          <div class="div-closer">
            <img class="closer" src="../res/images/icons/close-slim.png">
          </div>
          <h1><img src="../res/images/icons/another-coffee.png"> Kuffee</h1>
        </header>
        <form action="">
          <input type="text" placeholder="Username" required>
          <input type="email" placeholder="Email" required>
          <input type="password" placeholder="Password" required>
          <button type="submit" class="btn btn-orange btn-medium">SIGN UP</button>
          <p>Already have an account? <span id="btn_login_first">Login!</span></p>
        </form>
      </div>
    </div>

  <header>
    <section>
      <h1><img src="../res/images/icons/heart-white.png"> Wishlist</h1>
      <p>All the Kuffees you have ever wished.</p>
    </section>
  </header>

  <section id="wish_container" class="s1">
    <p id="p_empty">*No Item in WishList yet*</p>
    <!-- <div class="wish-box">
      <a class="link-img" href="./product-detail.html?id=1" style="background-image:url(../res/images/coffee-bean/coffee-bean-1.jpg)"></a>
      <div class="div-middle">
        <a class="wish-title" href="./product-detail.html?id=1">Kopi Bean</a>
        <p class="wish-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea rerum neque, reprehenderit natus rem consequatur laboriosam saepe. Vitae veritatis </p>
      </div>
      <div class="div-right">
        <div class="div-closer">
          <img class="closer" src="../res/images/icons/close.png">
        </div>
        <p class="wish-price">Rp. 90,000</p>
        <button type="button" class="btn-add-cart btn btn-blue btn-round btn-medium">Add to Cart</button>
      </div>
    </div> -->
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="../scripts/ejs.min.js"></script>
  <script src="../scripts/coffee-product-db.js"></script>
  <script src="../scripts/db-reader.js"></script>
  <script src="../scripts/toaster.js"></script>
  <script src="../scripts/nav.js"></script>
  <script src="../scripts/form.js"></script>
  <script>
    nav.setLogoutToHome(true);
    let user = Cookies.getJSON('user');
    let db = new DBReader(CoffeeProductDB);
    let documents = [];
    for (let wishId in user.wishMap) {
      if (user.wishMap[wishId] > 0) {
        documents.push(db.getById(wishId));
      }
    }

    (function renderProductContainer(documents) {
      if (!documents.length) return;
      $('#p_empty').hide();
      let $wishContainer = $('#wish_container');
      let renderCard = ejs.compile(
      `
        <div class="wish-box">
          <a class="link-img" href="./product-detail.html?id=<%= doc.id %>" style="background-image:url(../res/images/<%= doc.imageUrl %>)"></a>
          <div class="div-middle">
            <a class="wish-title" href="./product-detail.html?id=<%= doc.id %>"><%= doc.name %></a>
            <p class="wish-desc"> <%= doc.longDesc %> </p>
          </div>
          <span class="product-id" data-value="<%= doc.id %>" style=""></span>
          <div class="div-right">
            <div class="div-closer">
              <img class="closer" src="../res/images/icons/close.png">
            </div>
            <p class="wish-price">Rp. <%= doc.price %></p>
            <button type="button" class="btn-add-cart btn btn-blue btn-round btn-medium">Add to Cart</button>
          </div>
        </div>
      `
      );
      for (let doc of documents) {
        let $newCard = $(renderCard({doc: doc}));
        $wishContainer.append($newCard);
      }
    })(documents);

    (function buttonEventHandler() {
      $('.btn-add-cart').click(function() {
        let $parentBox = $(this).closest('.wish-box');
        let user = Cookies.getJSON('user');
        let productID = parseInt($(this).parent().parent().find('span').attr('data-value'));
        if (!user.cartMap) user.cartMap = {};
        if (!user.cartMap[productID]) user.cartMap[productID] = 0;
        user.cartMap[productID] += 1;
        user.wishMap[productID] = 0;
        Cookies.set('user', user, {expires: 30});
        $parentBox.fadeOut('normal');
        toaster.show('Added to Cart', 'cornflowerblue');
      });
      
      $('.closer').click(function() {
        let $parentBox = $(this).closest('.wish-box');
        let user = Cookies.getJSON('user');
        let productID = parseInt($(this).parent().parent().parent().find('span').attr('data-value'));
        user.wishMap[productID] = 0;
        Cookies.set('user', user, {expires: 30});
        $parentBox.fadeOut('normal', function() {
          console.log($(this).parent().parent().parent().parent().find('.wish-box:visible'));
          if ($(this).parent().parent().parent().parent().find('.wish-box:visible').length == 0) {
            $('#p_empty').show();
          }
        });
        toaster.show('Item removed', 'cornflowerblue');
      });
    })();
  </script>
</body>

</html>