.btn {
  display: inline-block;
  font-family: Raleway;
  color: black;
  border: 1.5px solid black;
  text-decoration: none;
  padding: 0.35em 0.7em;
  margin: 0.4em 0;
  border-radius: 5px;
  font-weight: bold;
  font-weight: normal;
  cursor: pointer;
}
.btn-round {
  border-radius: 100px;
}
.btn-corner {
  border-radius: 0 !important;
}

.btn-large {
  font-size: 1.7em;
}
.btn-medium {
  font-size: 1.1em;
}
.btn-small {
  font-size: 0.5em; 
}

.btn-blue {
  color: white;
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
}
.btn-blue-hollow {
  color: cornflowerblue;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid cornflowerblue;
}
.btn-blue-hollow:hover {
  color: white;
  background: cornflowerblue;
}

.btn-white {
  color: cornflowerblue;
  background: white;
  border: 2px solid white;
}
.btn-white:active {
  background: lightgray;
  border: 2px solid lightgray;
}
.btn-white-hollow {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
}
.btn-white-hollow:hover {
  color: cornflowerblue;
  background: white;
}

.btn-crimson {
  color: white;
  background: crimson;
  border: 2px solid crimson;
}
.btn-crimson:active {
  background: red;
  border: 2px solid red;
}
.btn-crimson-hollow {
  color: crimson;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid crimson;
  font-weight: 600;
}
.btn-crimson-hollow:hover {
  color: white;
  background: crimson;
}

.btn-green {
  color: white;
  background-color: limegreen;
  border: 2px solid limegreen;
}
.btn-green-hollow {
  color: limegreen;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid limegreen;
}
.btn-green-hollow:hover {
  color: white;
  background: limegreen;
}

.btn-gray {
  color: white;
  background-color: gray;
  border: 2px solid gray;
}
.btn-gray-hollow {
  color: gray;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid gray;
}
.btn-gray-hollow:hover {
  color: white;
  background: gray;
}