* {
  padding: 0;
  margin: 0;
  font-family: Raleway;
}
span.title-text {
  font-family: "Chela One"; 
}

/* header */
header {
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.5), rgba(60, 60, 60, 0.4)),
              url(../res/images/wallpaper/self-harvest-coffee-beans.jpg);
  background-attachment: fixed;
  height: 280px;
  background-size: cover;
}
header section h1 {
  color: white;
  font-weight: bold;
  font-size: 4.5em;
  text-align: center;
}
header section {
  display: block;
  padding-top: 7em;
}
header section p {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

body {
  background-color: rgb(245, 245, 245);
}
body > h1 {
  text-align: center;
  padding-top: 1em;
  font-size: 3em;
  width: 7em;
  margin: auto;
  border-bottom: 0.15em solid crimson;
  background-color: rgb(245, 245, 245);
}

section.s1 {
  padding: 3em 11em 5em 11em;
  background-color: rgb(245, 245, 245);
}

.product-row {
  display: flex;
  justify-content: space-around;
  padding: 2em 0;
}

.product-card {
  background: white;
  filter: drop-shadow(0.5mm 2mm 2mm rgba(0, 0, 0, 0.25));
  padding-bottom: 0.025em;
  border-radius: 10px;
}
.img-link {
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 280px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: auto 280px;
}
.product-card p:nth-of-type(1) {
  text-align: center;
  padding-top: 0.2em;
  padding-bottom: 0em;
  font-size: 2em;
}
.product-card p:nth-of-type(2) {
  text-align: center;
  padding: 0.3em 0;
  color: gray;
}
.product-card p:nth-of-type(3) {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.2em 0;
  color: crimson;
}

.product-btn-container {
  display: flex;
  justify-content: space-evenly;
}
.product-btn-container > button {
  display: inline-block;
  text-align: center;
  width: 40%;
  font-size: 1em;
  margin: 0.5em 0.2em;
}
